<div class="row">
	<article class="col-md-3">
		<div class="">
			<h2>Acerca</h2>
            <div class="list-group content_items">
                <a href="#" class="list-group-item active">¿Qienes Somos?</a>
                <a href="#" class="list-group-item">Visión</a>
                <a href="#" class="list-group-item">Misión</a>
            </div>
		</div>
	</article>
	<section class="col-md-9">
		<div class="panels">
			<div class="panels__item active">
				<h2 class="text-center">¿Qienes Somos?</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam praesentium autem sequi enim et quod earum architecto molestias veniam natus, suscipit sunt. Aliquid modi ab ratione optio excepturi temporibus, eaque cupiditate nobis consectetur. Natus doloremque alias optio praesentium dolorum, cumque, nihil deserunt pariatur dignissimos labore inventore odit assumenda modi voluptatem!
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/icon/icono_desarrollo_web.svg" alt="">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/icon/icono_responsive_web.svg" alt="">
					</div>
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora accusamus dolor pariatur, laudantium, molestias consectetur eos nam vel enim ratione delectus perferendis rerum. Quia deserunt perspiciatis dolorem, excepturi praesentium saepe necessitatibus voluptates doloribus odio officiis, velit voluptatem libero ipsa quas tempora mollitia illo error odit.
					</div>
				</div>
			</div>

			<div class="panels__item">
				<h2 class="text-center">Visión</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae molestias amet, iure eos et. Assumenda repellat eum dolor quo, unde cupiditate accusamus voluptatibus nihil, excepturi, iusto repellendus sequi iure voluptatum.
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/icon/icono-diseno-grafico-hover.png" alt="">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/icon/icon-diseno-grafico.png" alt="">
					</div>
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quia inventore tempore nobis rem odio. Iusto facere similique autem provident nobis, maxime, consequatur quas quibusdam neque porro optio repellendus minima.
					</div>
				</div>
			</div>

			<div class="panels__item">
				<h2 class="text-center">Misión</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus ad neque fuga, animi itaque beatae eius, quod temporibus, tempora in non quibusdam deleniti. Voluptas inventore rem cum animi ipsum quas aliquid molestiae laboriosam ipsam id?
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/icon/server-side-client-side.png" alt="">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/icon/desarrollo.png" alt="">
					</div>
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus asperiores nemo dolor minus soluta eveniet commodi omnis, suscipit sunt, obcaecati nam consequatur possimus fugiat dicta accusantium! Alias in id repellendus reprehenderit quo error. Harum, voluptatem.
					</div>
				</div>
			</div>

		</div>
	</section>
</div>