<h2 class="text-center">Contactos</h2>
<div class="row">	
	<div class="col-md-3">
        <div class="list-group content_items">
            <a href="#" class="list-group-item active">Enviar Mensaje</a>
            <a href="#" class="list-group-item">Redes Sociales</a>
            <a href="#" class="list-group-item">Teléfonos</a>
        </div>
	</div>

	<div class="col-md-9">

		<div class="panels">

			<div class="panels__item active">
				<h5>Enviar Mensaje</h5>
				<hr>
				<form id="contacto_frm">
					<div class="row">
						<div class="col-md-6">
						    <div class="form-group">
						        <label for="nombre">Nombre</label>
						        <input name="nombre" class="form-control" type="text" required="required" id="nombre" placeholder="Nombre" tabindex="1" title="Nombre" autofocus="">
						    </div>
						</div>
						<div class="col-md-6">
						    <div class="form-group">
						        <label for="email">Email</label>
						        <input name="email" class="form-control" type="email" required="required" id="email" placeholder="Email" tabindex="2" title="Email">
						    </div>
						</div>
					</div>
				    <div class="form-group">
				        <label for="asunto">Asunto</label>
				        <input name="asunto" class="form-control" type="text" id="asunto" placeholder="Asunto" tabindex="3" title="asunto">
				    </div>
				    <div class="form-group">
				        <label for="Mensaje">Mensaje</label>
				        <textarea name="mensaje" class="form-control" required="required" rows="4" id="mensaje" placeholder="Mensaje" tabindex="6"></textarea>
				    </div>
				    <div id="respuesta"></div>
				    <div class="form-group">
				        <button type="submit" id="btn-enviar" class="btn btn-primary">Enviar</button>
				    </div>
				</form>
			</div>


			<div class="panels__item">
				<h5>Redes Sociales</h5>
				<hr>

				<ul class="social-medias">
					<li>
						<a href="#/Contactos"><i class="icon-github6"></i></a>
					</li>
					<li>
						<a href="#/Contactos"><i class="icon-facebook-square"></i></a>
					</li>
					<li>
						<a href="#/Contactos"><i class="icon-twitter2"></i></a>
					</li>
					<li>
						<a href="#/Contactos"><i class="icon-youtube3"></i></a>
					</li>
					<li>
						<a href="#/Contactos"><i class="icon-google-plus-square"></i></a>
					</li>
				</ul>

				
			</div>

			<div class="panels__item">
				<h5>Teléfonos</h5>
				<hr>

				<ul class="telefonos">
					<li>
						<i class="icon-call"></i> 0424 - 654-1787
					</li>
					<li> | </li>
					<li>
						<i class="icon-call"></i> 0412 - 759-1385
					</li>
					<li> | </li>
					<li>
						<i class="icon-call"></i> 0424 - 346-6689
					</li>
				</ul>
				</p>

			</div>
			
		</div>


	</div>

</div>

