<div class="row">
	<article class="col-md-3">
		<div class="">
			<h2>Tecnologías</h2>
            <div class="list-group content_items">
                <a href="#" class="list-group-item active">HTML5</a>
                <a href="#" class="list-group-item">CSS3</a>
                <a href="#" class="list-group-item">Bootstrap</a>
                <a href="#" class="list-group-item">Materialize</a>
                <a href="#" class="list-group-item">Java Script</a>
                <a href="#" class="list-group-item">jQuery</a>
                <a href="#" class="list-group-item">Angular</a>
                <a href="#" class="list-group-item">React</a>
            </div>
		</div>
	</article>
	<section class="col-md-9">
		<div class="panels">
			<div class="panels__item active">
				<h2 class="text-center">HTML5</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae libero, hic vitae ipsam unde tempora eos architecto aut magnam obcaecati itaque incidunt, modi debitis, at mollitia ratione! Laudantium quod omnis aspernatur, ipsum cumque nam, explicabo ab nihil, distinctio inventore voluptatem repellendus cupiditate totam dolore dolorum illo molestias! Laudantium ipsa recusandae ratione doloribus, delectus, adipisci fugiat quis eum excepturi tempora reiciendis!
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/html5/HTML5.png" alt="HTML5">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/html5/html5-orange.jpg" alt="HTML5">
					</div>
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quaerat veritatis id cumque numquam fuga culpa voluptates, quod dolorum ipsa corporis in, expedita dolor harum consequuntur a deleniti architecto laborum!
					</div>
				</div>
			</div>

			<div class="panels__item">
				<h2 class="text-center">CSS3</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio laudantium blanditiis qui beatae voluptates iusto aut, illum veniam voluptatibus sit recusandae neque, magni illo enim dolore incidunt mollitia nisi. Assumenda consequatur ullam totam repellendus molestias debitis libero quod est eius incidunt. Ullam fuga accusamus at accusantium, rerum aliquid facere ut culpa molestias in enim illum obcaecati commodi dolorem rem repellendus architecto ad voluptatum necessitatibus dignissimos itaque consequuntur cum alias! Odio natus ullam soluta a vel distinctio dolores iste, alias rem, pariatur in sit! Expedita culpa suscipit, sed aliquid, perspiciatis quod.
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/css3/CSS3.png" alt="CSS3">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/css3/CSS3.png" alt="CSS3">
					</div>
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus eveniet, excepturi reprehenderit non consequatur magnam? Molestias fugit nisi laudantium illum, voluptatum quae, voluptas magni, adipisci atque repellendus aspernatur ipsum, repudiandae. Eveniet soluta earum hic vero, ullam eaque facilis sit quaerat, amet suscipit eos ut enim, dolor quasi similique nemo necessitatibus. Eligendi, quia ex at optio ut. Sequi animi cum eveniet, suscipit veritatis quaerat labore quidem repellendus alias, modi nulla facere vero inventore velit, ex laudantium officiis? Maiores doloremque voluptatum, facilis tenetur est, nihil numquam nostrum debitis illum quaerat esse culpa.
					</div>
				</div>
			</div>

			<div class="panels__item">
				<h2 class="text-center">Bootstrap</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus ad neque fuga, animi itaque beatae eius, quod temporibus, tempora in non quibusdam deleniti. Voluptas inventore rem cum animi ipsum quas aliquid molestiae laboriosam ipsam id?
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/bootstrap/bootstrap.png" alt="Bootstrap">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/bootstrap/bootstrap.png" alt="Bootstrap">
					</div>
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus asperiores nemo dolor minus soluta eveniet commodi omnis, suscipit sunt, obcaecati nam consequatur possimus fugiat dicta accusantium! Alias in id repellendus reprehenderit quo error. Harum, voluptatem.
					</div>
				</div>
			</div>

			<div class="panels__item">
				<h2 class="text-center">Materialize</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure quam, quis molestias sit. Blanditiis nihil fuga aliquam possimus, adipisci, rem iusto vel quam temporibus sunt exercitationem animi, aliquid, porro tempore quos provident dicta magnam officia atque quas! Accusantium repudiandae, eum similique dignissimos incidunt, ducimus id doloremque voluptatum, minima recusandae, aut.
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/materialize/materialize-logo.png" alt="Materialize">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/materialize/materialize.png" alt="Materialize">
					</div>
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi consectetur ipsam quaerat. Beatae animi soluta necessitatibus odit voluptatibus alias nulla labore, saepe, et, sapiente dicta.
					</div>
				</div>
			</div>

			<div class="panels__item">
				<h2 class="text-center">Java Script</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quidem et, assumenda quas laborum itaque voluptatem exercitationem vitae incidunt asperiores.
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/javascript/javascript_logo.jpg" alt="Java Script">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/javascript/js.jpg" alt="Java Script">
					</div>
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quibusdam quisquam perferendis quod, sunt odit suscipit est officiis voluptates in ex similique totam, inventore modi, eum sequi quasi rerum cum. Odit laudantium, aspernatur quisquam harum recusandae unde, hic ad quidem perferendis, quas nulla rem explicabo. Quisquam eveniet cupiditate, fugit iusto facere, aut nisi tenetur nostrum libero, doloremque, quia quibusdam error.
					</div>
				</div>
			</div>

			<div class="panels__item">
				<h2 class="text-center">jQuery</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos harum ullam qui, magnam exercitationem alias deserunt officiis cupiditate at excepturi repellat illo reprehenderit. Ad iusto veniam, optio laboriosam vero consequatur obcaecati perferendis adipisci vitae voluptas, consequuntur, aperiam placeat debitis dolores tenetur harum nulla consectetur perspiciatis libero dolorum blanditiis fuga cumque a! Odit reprehenderit aspernatur magnam modi libero, atque sunt eveniet maxime error. Laboriosam ex animi obcaecati quis sed repellat aperiam.
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/jquery/jQurery.gif" alt="jQuery">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/jquery/jq.png" alt="jQuery">
					</div>
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta similique distinctio est quasi. Architecto sed nostrum quisquam hic reiciendis ipsa?
					</div>
				</div>
			</div>

			<div class="panels__item">
				<h2 class="text-center">Angular</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. In doloremque aut mollitia et illo eum nobis debitis corporis voluptatem facilis maxime aliquam, officia ad optio quisquam perferendis nam rem eos quia, ducimus. Expedita asperiores, nostrum quasi aperiam praesentium. Cupiditate ea nihil fugiat eos veritatis ad perferendis similique inventore aperiam suscipit soluta nisi, ipsum explicabo repellat vero blanditiis illo amet magnam eum vel, nemo, dolor eveniet libero, dignissimos. Labore, pariatur, officiis.
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/angular/AngularJS.png" alt="Angular">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/angular/AngularJS_logo.png" alt="Angular">
					</div>
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi perferendis tempora dolorum laboriosam cupiditate, deserunt aliquam, eveniet corrupti id voluptatum.
					</div>
				</div>
			</div>

			<div class="panels__item">
				<h2 class="text-center">React</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab earum distinctio quidem consequuntur tempore quasi nihil dignissimos voluptatum voluptates vitae maiores porro neque ipsam cumque, beatae, quis ullam excepturi obcaecati enim hic. Minima in vel, pariatur ab eaque, earum sequi!
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/react/logo-reactjs.png" alt="React">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/react/React-1.0.png" alt="React">
					</div>
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi perferendis tempora dolorum laboriosam cupiditate, deserunt aliquam, eveniet corrupti id voluptatum.
					</div>
				</div>
			</div>


		</div>
	</section>
</div>