<div class="row">
	<article class="col-md-3">
		<div class="">
			<h2>Tecnologías</h2>
            <div class="list-group content_items">
                <a href="#" class="list-group-item active">HTML5</a>
                <a href="#" class="list-group-item">CSS3</a>
                <a href="#" class="list-group-item">Bootstrap</a>
                <a href="#" class="list-group-item">Materialize</a>
                <a href="#" class="list-group-item">Java Script</a>
                <a href="#" class="list-group-item">jQuery</a>
                <a href="#" class="list-group-item">Angular</a>
                <a href="#" class="list-group-item">React</a>
            </div>
		</div>
	</article>
	<section class="col-md-9">
		<div class="panels">
			<div class="panels__item active">
				<h2 class="text-center">HTML5</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						<b>Es la última versión de HTML. El término representa dos conceptos diferentes:</b>

						<ul>
							<li>Se trata de una nueva versión de HTML, con nuevos elementos, atributos y comportamientos.</li>
							<li>Contiene un conjunto más amplio de tecnologías que permite a los sitios Web y a las aplicaciones ser más diversas y de gran alcance. A este conjunto se le llama HTML5 y amigos, a menudo reducido a HTML5 .</li>
						</ul>
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/html5/HTML5.png" alt="HTML5">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/html5/html5-orange.jpg" alt="HTML5">
					</div>
					<div class="col-md-6">
						<p>
							Diseñado para ser utilizable por todos los desarrolladores de Open Web, esta página referencía a numerosos recursos sobre las tecnologías de HTML5, que se clasifican en varios grupos según su función.
						</p>
					</div>
					<div class="col-md-12">
						<ul>
							<li>Semántica: Permite describir con mayor precisión cual es su contenido.</li>
							<li>Conectividad: Permite comunicarse con el servidor de formas nuevas e innovadoras.</li>
							<li>Sin conexión y almacenamiento: Permite a las páginas web almacenar datos localmente en el lado del cliente y operar sin conexión de manera más eficiente.</li>
							<li>Multimedia: Nos otorga un excelente soporte para utilizar contenido multimedia como lo son audio y video nativamente.</li>
							<li>Gráficos y efectos 2D/3D: Proporciona una amplia gama de nuevas características que se ocupan de los gráficos en la web como lo son canvas 2D, WebGL, SVG, etc.</li>
							<li>Rendimiento e Integración: Proporciona una mayor optimización de la velocidad y un mejor uso del hardware.</li>
							<li>Acceso al dispositivo: Proporciona APIs para el uso de varios compomentes internos de entrada y salida de nuestro dispositivo.</li>
							<li>CSS3: Nos ofrece una nueva gran variedad de opciones para hacer diseños más sofisticados.</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="panels__item">
				<h2 class="text-center">CSS3</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						CSS es un lenguaje para definir el estilo o la apariencia de las páginas web, escritas con HTML o de los documentos XML. CSS se creó para separar el contenido de la forma, a la vez que permite a los diseñadores mantener un control mucho más preciso sobre la apariencia de las páginas.
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/css3/CSS3.png" alt="CSS3">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/css3/css3.jpg" alt="CSS3">
					</div>
					<div class="col-md-6">
						A partir del año 2005 se comenzó a definir el sucesor de esta versión, al cual se lo conoce como CSS3 o Cascading Style Sheets Level 3. Actualmente en definición, esta versión nos ofrece una gran variedad de opciones muy importantes para las necesidades del diseño web actual. Desde opciones de sombreado y redondeado, hasta funciones avanzadas de movimiento y transformación, CSS3 es el estándar que dominará la web por los siguientes años.
					</div>
				</div>
			</div>

			<div class="panels__item">
				<h2 class="text-center">Bootstrap</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						Bootstrap, es un framework originalmente creado por Twitter, que permite crear interfaces web con CSS y JavaScript, cuya particularidad es la de adaptar la interfaz del sitio web al tamaño del dispositivo en que se visualice. Es decir, el sitio web se adapta automáticamente al tamaño de una PC, una Tablet u otro dispositivo. Esta técnica de diseño y desarrollo se conoce como “responsive design” o diseño adaptativo.
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/bootstrap/boostrap.jpg" alt="Bootstrap">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/bootstrap/bootstrap.png" alt="Bootstrap">
					</div>
					<div class="col-md-6">
						El beneficio de usar responsive design en un sitio web, es principalmente que el sitio web se adapta automáticamente al dispositivo desde donde se acceda. Lo que se usa con más frecuencia, y que a mi opinión personal me gusta más, es el uso de media queries, que es un módulo de CSS3 que permite la representación de contenido para adaptarse a condiciones como la resolución de la pantalla y si trabajás las dimensiones de tu contenido en porcentajes, puedes tener una web muy fluida capaz de adaptarse a casi cualquier tamaño de forma automática.
					</div>
				</div>
			</div>

			<div class="panels__item">
				<h2 class="text-center">Materialize</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						Creado por Google, es un nuevo lenguaje de diseño que combina los principios clásicos del diseño efectivo, con innovación y tecnología.Las aplicaciones de Google se han ido adaptando a este principio.
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/materialize/materialize-logo.png" alt="Materialize">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/materialize/materialize.png" alt="Materialize">
					</div>
					<div class="col-md-6">
						Es un framework CSS que te permite crear sitios y aplicaciones web con los principios de Material Design. Puede ser usado en dos formas, Materialize y Sass, dependiendo de las preferencias y la experiencia se puede seleccionar cualquiera de las dos versiones. <br>
						La versión estándar contiene CSS y JavaScript y trae los CSS listos para trabajar. La otra versión, recomendada para los que están familiarizados con Sass, permite tener mayor control sobre los componentes que quieres incluir.
					</div>
				</div>
			</div>

			<div class="panels__item">
				<h2 class="text-center">Java Script</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						JavaScript es un lenguaje de programación, al igual que PHP, si bien tiene diferencias importantes con éste. JavaScript se utiliza principalmente del lado del cliente (es decir, se ejecuta en nuestro ordenador, no en el servidor) permitiendo crear efectos atractivos y dinámicos en las páginas web. Los navegadores modernos interpretan el código JavaScript integrado en las páginas web.
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/javascript/javascript_logo.jpg" alt="Java Script">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/javascript/js.jpg" alt="Java Script">
					</div>
					<div class="col-md-6">
						<b>FORMAS DE USAR JAVASCRIPT EN DOCUMENTOS HTML</b>

						La primera forma de usar JavaScript dentro de una página web es embebiendo directamente el código JavaScript dentro del código HTML. Vamos a poner un ejemplo de código JavaScript pero no vamos a entrar en detalle a comentarlo ni explicarlo ya que en este curso no vamos a explicar JavaScript. Simplemente queremos saber interpretar por qué dentro de un documento HTML pueden aparecer fragmentos de código escrito en otro lenguaje.
					</div>
				</div>
			</div>

			<div class="panels__item">
				<h2 class="text-center">jQuery</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						Es una biblioteca de JavaScript, creada inicialmente por John Resig, que permite simplificar la manera de interactuar con los documentos HTML, manipular el árbol DOM, manejar eventos, desarrollar animaciones y agregar interacción con la técnica AJAX a páginas web. Fue presentada el 14 de enero de 2006 en el BarCamp NYC. jQuery es la biblioteca de JavaScript más utilizada.
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/jquery/jQurery.gif" alt="jQuery">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/jquery/jq.png" alt="jQuery">
					</div>
					<div class="col-md-6">
						es software libre y de código abierto, posee un doble licenciamiento bajo la Licencia MIT y la Licencia Pública General de GNU v2, permitiendo su uso en proyectos libres y privados.2 jQuery, al igual que otras bibliotecas, ofrece una serie de funcionalidades basadas en JavaScript que de otra manera requerirían de mucho más código, es decir, con las funciones propias de esta biblioteca se logran grandes resultados en menos tiempo y espacio.
					</div>
				</div>
			</div>

			<div class="panels__item">
				<h2 class="text-center">Angular</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						AngularJS es Javascript. Es un proyecto de código abierto, realizado en Javascript que contiene un conjunto de librerías útiles para el desarrollo de aplicaciones web y propone una serie de patrones de diseño para llevarlas a cabo. En pocas palabras, es lo que se conoce como un framework para el desarrollo, en esta caso sobre el lenguaje Javascript con programación del lado del cliente.
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/angular/AngularJS.png" alt="Angular">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/angular/AngularJS_logo.png" alt="Angular">
					</div>
					<div class="col-md-6">
						<b>Mejoras del HTML</b>
						Este Javascript pretende que los programadores mejoren el HTML que hacen. Que puedan producir un HTML que, de manera declarativa, genere aplicaciones que sean fáciles de entender incluso para alguien que no tiene conocimientos profundos de informática. El objetivo es producir un HTML altamente semántico, es decir, que cuando lo leas entiendas de manera clara qué es lo que hace o para qué sirve cada cosa.
					</div>
				</div>
			</div>

			<div class="panels__item">
				<h2 class="text-center">React</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						React (también llamada React.js o ReactJS) es una biblioteca Javascript de código abierto para crear interfaces de usuario con el objetivo de animar al desarrollo de aplicaciones en una sola página. Es mantenido por Facebook, Instagram y una comunidad de desarrolladores independientes  y compañías.
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/react/logo-reactjs.png" alt="React">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/react/React-1.0.png" alt="React">
					</div>
					<div class="col-md-6">
						React intenta ayudar a los desarrolladores a construir aplicaciones que usan datos que cambian todo el tiempo. Su objetivo es ser sencillo, declarativo y fácil de combinar. React sólo maneja la interfaz de usuario en una aplicación; está construida únicamente para utilizar el patrón de diseño modelo–vista–controlador (MVC), y puede ser utilizada conjuntamente con otras bibliotecas de Javascript o más grandes #MVC como AngularJS. También puede ser utilizado con las extensiones de React-based que se encargan de las partes no-UI (no gráficas) de una aplicación web.
					</div>
				</div>
			</div>


		</div>
	</section>
</div>
