<div class="row">
	<article class="col-md-3">
		<div class="">
			<h2>Integrantes</h2>
            <div class="list-group content_items">
                <a href="#" class="list-group-item active">Selene</a>
                <a href="#" class="list-group-item">José Gonzales</a>
                <a href="#" class="list-group-item">Isaac Seijas</a>
            </div>
		</div>
	</article>
	<section class="col-md-9">
		<div class="panels">
			<div class="panels__item active">
				<h2 class="text-center">Selene</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo enim ullam quod. Dignissimos, vero tempore error saepe ipsa veritatis tenetur, dolores illum inventore. Eos quisquam voluptatum neque alias enim suscipit assumenda tempore, molestias quo, ipsum deserunt aliquam itaque ab obcaecati labore, pariatur libero quia excepturi commodi iure! Perferendis natus quos accusantium praesentium eos iste atque distinctio. Dolor soluta obcaecati, debitis quaerat qui, dicta aut minus, atque ut quis porro veniam.
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/avatars/selene.png" alt="">
					</div>
				</div>
			</div>

			<div class="panels__item">
				<h2 class="text-center">José Gonzales</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/avatars/jose.png" alt="">
					</div>
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus asperiores, natus ea deserunt corrupti quae modi optio. Ipsam, sed. Nostrum, magnam praesentium ex deleniti quaerat quos dolorum, similique omnis ratione facere odio nisi velit autem laudantium debitis consequuntur sunt aliquam cumque perferendis iste ullam? At libero autem, quaerat quia, impedit, omnis nulla qui deleniti voluptatem eveniet eum sed velit blanditiis ducimus ex nam voluptate quibusdam expedita dicta? Necessitatibus, reprehenderit, doloremque.
					</div>
				</div>
			</div>

			<div class="panels__item">
				<h2 class="text-center">Isaac Seijas</h2>
				<hr>
				<div class="row">
					<div class="col-md-6">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis praesentium iure suscipit, quaerat eveniet iste, illum aut quod rem, ab repudiandae veniam expedita enim. Maxime perferendis nobis iusto numquam doloremque itaque quos quidem repellendus consequuntur, doloribus natus voluptatem eaque consectetur at blanditiis necessitatibus inventore quaerat voluptates vitae vel nostrum, praesentium ad recusandae placeat. Nesciunt, voluptate ipsam provident illum aliquam necessitatibus soluta magnam autem repellat iste doloribus culpa eveniet quidem voluptatibus!
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="public/img/avatars/isaac.png" alt="">
					</div>
				</div>
				
			</div>

		</div>
	</section>
</div>